RewriteEngine on

RewriteCond %{HTTP_HOST} ^(www.)?http://localhost/$
RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /public/$1
RewriteRule ^(/)?$ public/index.php [L]
php_value default_charset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
