@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma/Tahoma.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma/tahoma-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Bosk";
  src: url("../fonts/Bosk/Bosk.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}